<base-app title="Account">
    <a href="password" class="btn btn-outline-primary">Password</a>
    <br /><br /><br />
    <div class="row">
        <div class="col-md-4">ID</div>
        <div class="col-md-8 form-group">
            <input type="text" [(ngModel)]="user.id" readonly disabled class="form-control" placeholder={{user!.id}}/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">User Name</div>
        <div class="col-md-8 form-group">
            <input type="text" [(ngModel)]="user.userName" class="form-control" placeholder='User Name' required minlength="2" #userName="ngModel"/>
            <div [hidden]="userName.valid || userName.untouched" class="alert alert-danger">
                User Name must be at least 2 characters long
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">Email</div>
        <div class="col-md-8 form-group">
            <input type="email" [(ngModel)]="user.email" class="form-control" placeholder='Email' email #email="ngModel"/>
            <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
                Invalid email format
            </div>
        </div>
    </div>
    <br />
    <div class="form-group text-center">
        <button class="btn btn-warning" (click)="updateUser()" [disabled]="userName.invalid || email.invalid">Update</button>
    </div>
</base-app>