<base-app title="Password">
    <div class="row">
        <div class="col-md-4">Old Password</div>
        <div class="col-md-8">
            <input type="text" [(ngModel)]="password.oldPassword" class="form-control" placeholder='Old Password' required minlength="8" #oldPassword="ngModel"/>
            <div [hidden]="oldPassword.valid || oldPassword.untouched" class="alert alert-danger">
                Password must be at least 8 characters long
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">New Password</div>
        <div class="col-md-8">
            <input type="text" [(ngModel)]="password.newPassword" class="form-control" placeholder='New Password' required minlength="8" #newPassword="ngModel"/>
            <div [hidden]="newPassword.valid || newPassword.untouched" class="alert alert-danger">
                Password must be at least 8 characters long
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">Confirm Password</div>
        <div class="col-md-8">
            <input type="text" [(ngModel)]="password.confirmNewPassword" class="form-control" placeholder='Confirm Password' required minlength="8" #confirmNewPassword="ngModel"/>
            <div [hidden]="confirmNewPassword.valid || confirmNewPassword.untouched" class="alert alert-danger">
                Password must be at least 8 characters long
            </div>
        </div>
    </div>
    <br />
    <div class="form-group text-center">
        <button class="btn btn-warning" (click)="changePassword()" [disabled]="oldPassword.invalid || newPassword.invalid || confirmNewPassword.invalid">Change</button>
    </div>
</base-app>