<models-app title="Notes" [errors]="errors" [isSaveModel]="isSaveModel" [getModels]="getModels" [createModel]="createModel" [updateModel]="updateModel" [removeModel]="removeModel">
    <ng-template #tableHeader>
        <th>Title</th>
        <th>Description</th>
    </ng-template>

    <ng-template #readOnlyTemplate let-note>
        <td>{{note.title}}</td>
        <td>{{note.description}}</td>
    </ng-template>
    
    <ng-template #editTemplate let-note>
        <td>
            <input type="text" [(ngModel)]="note.title" class="form-control" placeholder="Title" required minlength="3" #title="ngModel"/>
            <div [hidden]="title.valid || title.untouched" class="alert alert-danger">
                Title name must be at least 3 characters long
            </div>
        </td>
        <td>
            <input type="text" [(ngModel)]="note.description" class="form-control" placeholder="Description" minlength="5" #description="ngModel"/>
            <div [hidden]="description.valid || description.untouched" class="alert alert-danger">
                Description must be at least 5 characters long
            </div>
        </td>
    </ng-template>
</models-app>
