<nav class="left-panel bg-dark">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <br>
        <div *ngIf="isAuthenticated" class="btn-group-vertical">
            <a routerLink="/home" class="btn btn-dark ml-auto text-white">Home</a><br>
            <a routerLink="/categories" class="btn btn-dark ml-auto text-white">Categories</a><br>
            <a routerLink="/notes" class="btn btn-dark ml-auto text-white">Notes</a><br>
        </div>
        <div *ngIf="!isAuthenticated" class="btn-group-vertical">
            <a routerLink="/login" class="btn btn-dark ml-auto text-white">Login</a><br>
            <a routerLink="/register" class="btn btn-dark ml-auto text-white">Register</a><br>
        </div>
    </div>
</nav>
  