@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

input.ng-touched.ng-invalid { 
    border:solid red 2px;
}
input.ng-touched.ng-valid {
    border:solid green 2px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
