<models-app title="Roles" [(indexViewModel)]="indexViewModel" [(attribute)]="attribute" [errors]="errors" [isSaveModel]="isSaveModel" [getModels]="getModels" 
        [createModel]="createModel" [updateModel]="updateModel" [removeModel]="removeModel">
    <ng-template #tableHeader>
        <th (click)="sortArray('name')" class="custom-cursor">
            Name
            <span *ngIf="isSort('name')">
                {{sortDirectionStr}}
            </span>
        </th>
    </ng-template>

    <ng-template #readOnlyTemplate let-role>
        <td>{{role.name}}</td>
    </ng-template>
    
    <ng-template #editTemplate let-role>
        <td>
            <input type="text" [(ngModel)]="role.name" class="form-control" placeholder="Name" required minlength="2" #name="ngModel"/>
            <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
                Role name must be at least 2 characters long
            </div>
        </td>
    </ng-template>
</models-app>
