<models-app title="Users" [(indexViewModel)]="indexViewModel" [(attribute)]="attribute" [(orderBy)]="orderBy" [errors]="errors" [isSaveModel]="isSaveModel" [getModels]="getModels" [createModel]="createModel" [updateModel]="updateModel" [removeModel]="removeModel">
    <ng-template #tableHeader>
        <th (click)="sortArray('userName')" [class]="getCSSClass">
            UserName
            <span [hidden]="!isOverOneElement" *ngIf="isSort('userName')">
                {{sortDirectionStr}}
            </span>
        </th>
        <th (click)="sortArray('email')" [class]="getCSSClass">
            Email
            <span [hidden]="!isOverOneElement" *ngIf="isSort('email')">
                {{sortDirectionStr}}
            </span>
        </th>
        <th></th>
    </ng-template>

    <ng-template #readOnlyTemplate let-user>
        <td>{{user.userName}}</td>
        <td>{{user.email}}</td>
        <td>
            <input type="button" value='Impersonate' class="btn btn-outline-warning" (click)="impersonate(user.id)" [hidden]="currentUserId === user.id"/>
        </td>
    </ng-template>
    
    <ng-template #editTemplate let-user>
        <td>
            <input type="text" [(ngModel)]="user.userName" class="form-control" placeholder="User Name" required minlength="2" #userName="ngModel"/>
            <div [hidden]="userName.valid || userName.untouched" class="alert alert-danger">
                User Name must be at least 2 characters long
            </div>
        </td>
        <td>
            <input type="email" [(ngModel)]="user.email" class="form-control" placeholder="Email" email #email="ngModel"/>
            <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
                Invalid email format
            </div>
        </td>
    </ng-template>
</models-app>
