<edit-model-app title="Login" [errors]="errors">
    <div class="form-group">
        <label>Name</label>
        <input type="text" [(ngModel)]="loginModel.name" class="form-control" placeholder='Enter your name!' required minlength="2" #name="ngModel"/>
        <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
            User Name must be at least 2 characters long
        </div>
    </div>
    <br />
    <div class="form-group">
        <label>Password</label>
        <input type="password" [(ngModel)]="loginModel.password" class="form-control" placeholder='Enter your password!' required minlength="8" #password="ngModel"/>
        <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
            Password must be at least 8 characters long
        </div>
    </div>
    <br />
    <div class="form-check">
        <label class="form-check-label">Remember me?</label>
        <input type="checkbox" class="form-check-input" placeholder="Remember me" [(ngModel)]="loginModel.rememberMe"/>
    </div>
    <br />
    <button class="btn btn-outline-primary" (click)="account()"  [disabled]="name.invalid || password.invalid">Send</button>
</edit-model-app>
